.wave1 {
  animation: wave1 3s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translateY(0);
}

.wave2 {
  animation: wave2 3s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translateY(0);
}

@keyframes wave1 {
  0%,
  100% {
    transform: translate(-40px, var(--wave-height));
  }
  50% {
    transform: translate(40px, var(--wave-height));
  }
}

@keyframes wave2 {
  0%,
  100% {
    transform: translate(40px, var(--wave-height));
  }
  50% {
    transform: translate(-40px, var(--wave-height));
  }
}

.bubble {
  transform: translate(var(--x), 0px);
  animation: bubble 7s linear infinite;
}

.bubbleBg {
  animation: bubbleBg 7s linear infinite;
  opacity: 1;
}

@keyframes bubble {
  0% {
    transform: translate(var(--x), 0px);
  }
  80% {
    transform: translate(var(--x), var(--wave-height));
  }
  100% {
    transform: translate(var(--x), var(--bubble-height));
  }
}

@keyframes bubbleBg {
  0%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
