
.equi {
  display: flex;
  justify-content: center;
  position: relative;
}

.equiBackground{
  background: black;
  border-radius: 50%;
  width: 1080px;
  height: 1080px;
  border: 5px solid black;
  margin-top: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.grid2x2 {
  position: absolute;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50%);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.eachDiv{
  transition: height 0.25s linear;
}